node_modules
.umi
.umi-production
.umi-test

**/*.md
**/*.svg
**/*.ejs
**/*.html
package.json

.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
*.log
.history
/dist
/build
/public
